@define-color border #704A4A;
@define-color background #301616;
@define-color background-semidark #210C0C;
@define-color background-dark #000000;
@define-color text #dfdab7;
@define-color text-inset #aaaaaa;

window#waybar>box {
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 0px;
  background: @background;
  border-color: @border @background @background @background;
  border-width: 2px;
  border-style: solid;
}

* {
  font-family: "Departure Mono";
  font-size: 15px;
  font-weight: 100;
  color: @text;
  transition: 0;
}

#iwireplumber, #tray, #tray menu, #impris, #hardware, #workspaces button {
  border-radius: 0;
  border-width: 2px;
  border-color: @border @background-semidark @background-semidark @border;
  border-style: solid;
  padding-left: 8px;
  padding-right: 8px;
  background: @background;
}

#wireplumber, #mpris, #clock, #network {
  margin-left: 8px;
}

#battery {
  margin-left: 1px;
}

#workspaces button {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0;
  padding-bottom: 0;
}

#workspaces button.active, #inetwork, #iclock, #custom-gpu, #temperature, #cpu, #memory, #disk, #ibattery {
  border-radius: 0;
  border-color: @background-dark @border @border @background-dark ;
  border-width: 2px;
  border-style: solid;
  padding-left: 8px;
  padding-right: 8px;
  background: @background-semidark;
}

#ibattery {
  padding-left: 3px;
}

#tray menu menuitem:hover {
  border-radius: 0;
  background: @background-semidark;
}

#cpu {
  margin-left: 8px;
}

#custom-gpu, #temperature, #cpu, #memory, #disk {
  padding-left: 5px;
  padding-right: 5px;
}

#workspaces button.active {
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 5px;
}

#custom-sep {
  background: @background-dark;
  border-color: @border;
}

