@import ".cache/wal/colors-waybar.css";

* {
  border: none;
  box-shadow: none;
  outline: none;
  font-family: "Departure Mono";
}

window {
  font-size: 14px;
  font-family: "JetBrains Mono";
  background-color: @background;
  opacity: 0.9;
  border: 2px solid @color6;
  border-style: outset;
}

#outer-box {
  margin: 10px 10px 20px 10px;
  background-color: @background;
  opacity: 0.9;
}

#inner-box {
  margin: 10px;
  background-color: @background;
  opacity: 0.9;
}

#entry {
  padding: 5px 10px;
  border: 2px @color6 inset;
  margin: 3px;
}

#entry #text {
  padding: 0px 0px 0px 10px;
  font-weight: normal;
  color: @color12;
}

#entry:selected {
  background-color: @color1;
}

#entry:selected #text {
  padding: 0px 0px 0px 10px;
  font-weight: normal;
  color: @foreground;
}

#input {
  background: transparent;
  margin: 13px 13px 0 13px;
  color: @color7;
  padding: 1px 10ps;
  border-radius: 0;
  border: inset 1px @color6;
}

#image {
  margin-left: 20px;
  margin-right: 20px;
}

#scroll {
  margin: 0px;
}
