@define-color border #704A4A;
@define-color background #301616;
@define-color background-semidark #210C0C;
@define-color background-dark #000000;
@define-color text #dfdab7;
@define-color text-inset #aaaaaa;

* {
  border: none;
  box-shadow: none;
  outline: none;
  font-family: "Departure Mono";
}

window {
  font-size: 14px;
  background: @background;
  opacity: 0.9;
  border: 2px solid;
  border-color: @border @background @background @border;
}

#outer-box {
  margin: 10px 10px 20px 10px;
  opacity: inherit;
}

#inner-box {
  margin: 10px;
  padding-top: 5px;
  border-top: 2px @border dotted;
  background-color: @background;
  opacity: inherit;
}

#entry {
  padding: 5px 10px;
  border: 2px solid;
  border-color: @border @background-semidark @background-semidark @border;
  margin: 5px;
}

#entry #text {
  padding: 0px 0px 0px 10px;
  color: @text;
}

#entry:selected {
  background-color: @background-semidark;
}

#entry:selected #text {
  font-weight: normal;
  color: @foreground;
}

#input {
  background: transparent;
  margin: 13px 13px 0 13px;
  padding: 1px 10ps;
  border-radius: 0;
  border: 2px solid;
  border-color: @background-semidark @border @border @background-semidark;

}

#image {
  margin-left: 20px;
  margin-right: 20px;
}

#scroll {
  margin: 0px;
}
